<div class="btn btn-dark m-2 " (click)="navigateToUrl()">Check your bookings</div>
<p class="text-center h3">Event Listings</p>

<div *ngIf="loader" class="text-center">
  <div class="spinner-border" role="status">
  </div>
</div>

<div *ngIf="!loader" class="row m-3">
  <div *ngFor="let item of allEvents; " class="col-md-4 col-sm-6 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Artist:</b> {{ item.artist }}</li>
        <li class="list-group-item"><b>Date-Time:</b> {{ item.dateTime }}</li>
        <li class="list-group-item"><b>Venue:</b> {{ item.venue }}</li>
        <li class="list-group-item"><b>Price:</b> Rs.{{ item.ticketPrice }}</li>
      </ul>
      <div class="card-body text-center">
        <button class="btn btn-primary" (click)="onBookClicked(item)">Book</button>
      </div>
    </div>
  </div>
</div>