<div class="container mx-auto mt-10 max-w-2xl">
  <h3 class="text-2xl font-bold mb-4 border-b pb-2">User Details</h3>
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <p class="text-lg"><strong>Email:</strong> {{localStorageValues.bookingEmail}}</p>
      <p class="text-lg mt-2"><strong>Phone Number:</strong> {{localStorageValues.bookingPhone}}</p>
    </div>
  </div>
  <div class="mt-6 flex space-x-4">
    <button class="bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" (click)="goToChangePhone()">Update Phone Number</button>
    <button class="bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" (click)="goToChangePassword()">Update Password</button>
  </div>
  <!-- Alert Messages -->
  <div *ngIf="alertMessage" class="mt-4">
    <div [ngClass]="{'bg-green-100 border-green-400 text-green-700': alertType === 'success', 'bg-red-100 border-red-400 text-red-700': alertType === 'danger'}" class="border px-4 py-3 rounded relative" role="alert">
      {{ alertMessage }}
    </div>
  </div>
</div>